.container_navbar {
  border: 3px solid hsl(217, 16%, 45%);
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
  width: 100%;
  max-width: 600px;
  padding: 20px;
  margin-top: 20px;
}

.container_navbar_text {
  display: flex;
  flex-direction: column;
  color: #fff;
  text-transform: uppercase;
  line-height: 25px;
  font-size: 30px;
  align-self: center;
}

.container_navbar_box {
  text-align: center;
  margin-right: 25px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
  padding: 15px 30px;
}

.container_navbar_score {
  text-transform: uppercase;
  margin-top: 10px;
}

.container_navbar_number {
  font-size: 40px;
}

.score {
  color: hsl(229, 64%, 46%);
}

.number {
  color: hsl(229, 25%, 31%);
}

@media screen and (max-width: 768px) {
  .container_navbar {
    max-width: 300;
    width: 80%;
  }

  .container_navbar_box {
    padding: 10px 20px;
    margin-left: 20px;
  }
}
